*{
    margin: 0;
    padding: 0;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
    font-family: 'bariol_regularregular';
    width: 100%;
    height: 100%;
    color:#333;
    background-color: #fff;
}

@grey:#434a53;

h1{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family: 'bariol_regularregular';
    font-weight: 200;
}

.clear{
    clear: both;
}

#login{
    width:100%;
    height:30px;
    background-color: #434a53;
    .login{
        margin: auto;
        margin-right: 7%;
        padding-top: 5px;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 100;
        float: right;
        text-align: right;
    }
}

.navbar{
	background-image: url("../img/gradient-background.jpg");
	.collapse{
    .account{
        float: right;
        text-align: right;
        width: 45%;
        a{
            text-decoration: none;
            color:#434a53;
        }
        a:hover{
            text-decoration: none;
            color:#7ec2cf;
        }
        .name_account{
            float: right;
            margin: 15px 20px 0 0;
        }
        .photo_account{
            img{
                width: 40px;
                border-radius: 20px;
                float: right;
                margin: 5px 20px 0 0;
            }
        }
        .logout{
            float: right;
            margin: 5px 0 0 0;
        }
    }
}
}

/*==============================PROFILE==============================*/

#container{
    margin-bottom: 200px;
}

#container{
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}

#profile_infos{
  width: 1100px;
  height: 190px;
  margin: auto;
  padding-top: 20px;
  color: @grey;
  .profile_infos{
    width: 1100px;
    margin: auto;
    padding: 0 50px;
    .profile_pic{
      float: left;
      img{
        width: 150px;
        border-radius: 75px;
      }
    }
    .personnal_infos{
      float: left;
      padding-left: 5%;
    }
    .name{
      font-family: 'bariol_lightlight';
      text-transform: uppercase;
      font-size: 32px;
    }
    .school{
      font-family: 'bariol_lightlight';
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }

  }
}


