<ng-include src="'views/navBar.html'"></ng-include>

<div id="container-profile " class="container">
   <form name="test" ng-submit="test.$valid && send()">
       <input type="text" name="name" required ui-validate="{valid: 'isValid($value)'}" ng-model="user.name" />
       <span ng-show="test.name.$error.required && submit" >Nom obligatoire</span>
       <span ng-show="test.name.$error.valid && !test.name.$error.required " > {{errors.invalidName}} </span>
       <input type="submit" ng-click="submit = true">
   </form>
    <div ng-repeat="img in images" class="ng-cloak">
        <img ng-src="img-static/{{img}}.jpg"/>
    </div>

</div>