<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarController">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle"  ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#/home">StarterKit</a>
        </div>
        <div class="collapse navbar-collapse"  collapse="isCollapsed">
            <div class="account">
                <a href="#/profile">
                    <div class="photo_account hidden-xs">
                        <img src="img/cake.jpg">
                    </div>
                    <div class="name_account">
                        {{pseudo}}
                    </div>
                </a>
            </div>
        </div>
    </div>

</nav>